# Rendered by ../../render-configs.sh into config/dynamic.yml (gitignored).
#
# The ForwardAuth middleware the app labels use as authelia-forwardauth@file.
# Straight to Authelia on percolator:9091; a second Traefik in the path drops
# X-Forwarded-Method. mochaPot is in percolator's FORWARD_AUTH_CLIENTS.
http:
  middlewares:
    authelia-forwardauth:
      forwardAuth:
        address: "http://${PERCOLATOR_LAN_IP}:9091/api/authz/forward-auth"
        trustForwardHeader: true
        authResponseHeaders:
          - Remote-User
          - Remote-Groups
          - Remote-Name
          - Remote-Email
